<% layout('_layout') -%>
<div class="container">
	<h1>BHere SSO Consumer</h1>
	<p>
		<a href="/reserved-area">Reserved Area</a>
		<button type="button" data-open="/sso/login">SSO Login</button>
		<button type="button" data-open="/sso/register">SSO Register</button>
	</p>
</div>
<script>
function onPopupClose(status) {
	if (status === 'success') {
		alert('Login Successful');
		window.location.href = '/reserved-area';
	} else {
		alert('Login Failed');
	}
}

function onOpen(event) {
	window.open(event.currentTarget.dataset.open, 'SSO', 'left=20,top=20,width=600,height=600,toolbar=1,resizable=0');
	event.preventDefault();
	return false;
}

var buttons = Array.prototype.slice.call(document.querySelectorAll('[data-open]'));
buttons.forEach(button => {
	button.addEventListener('click', onOpen);
});

</script>
